os:
  - linux

branches:
  only:
  - master

language: generic

services:
  - docker
env:
  global:
    - REPO_NAME=cgnsutilities
    - DOCKER_WORKING_DIR=/home/mdolabuser/repos/$REPO_NAME
    - DOCKER_MOUNT_DIR=/home/mdolabuser/travis/$REPO_NAME
  jobs:
    - DOCKER_TAG=py2-latest
    - DOCKER_TAG=py3-stable
    - DOCKER_TAG=py3-latest
    - DOCKER_TAG=py3-impi
    - DOCKER_TAG=py3-centos7-impi

before_install:
  - docker pull mdolab/public:$DOCKER_TAG
  # run Docker, key is we mount the current Travis directory into Docker to access content of repo
  - docker run -t -d 
        --name app
        --mount "type=bind,src=$(pwd),target=$DOCKER_MOUNT_DIR"
        mdolab/public:$DOCKER_TAG
        /bin/bash

install:
  # We thrown away the existing repo in Docker, and copy the new one in-place
  - docker exec -it app /bin/bash -c "rm -rf $DOCKER_WORKING_DIR && cp -r $DOCKER_MOUNT_DIR $DOCKER_WORKING_DIR"
  # Copy over the correct config file and modify as needed
  - docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && cp config.mk.info config.mk";
  - if [[ "$DOCKER_TAG" == "py2"* ]]; then
      docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && sed -i 's/python3-config/python-config/g' config.mk";
    elif [[ "$DOCKER_TAG" == "py3-centos7-impi" ]]; then
      docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && sed -i 's/gfortran/ifort/g' config.mk && sed -i 's/gcc/icc/g' config.mk";
    fi
  # Compile
  - docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $DOCKER_WORKING_DIR && make && pip install ."

script:
  # There are no tests for cgnsutilities
  # we just check that we can run the command line script here
  - docker exec -it app /bin/bash -c ". \$HOME/.bashrc_mdolab && cd $HOME && cgns_utils -h"

after_script:
  - docker rm -f app
